*{
    margin: 0px;
}
html{
    height: 100%;
    background:linear-gradient(to bottom,#0046ae,#9198e5)
}
.player-box{
    height: 400px;
    width: 270px;
    background-image:linear-gradient(to bottom,rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    margin:90px auto;
    border-radius: 15px;
    box-shadow:0 1px 15px -1px #403b3b;
}
.player-box:hover{
    background-image:linear-gradient(to bottom,rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
    box-shadow: 1px 2px 20px -1px #403b3b;
}
.brand{
    text-align: center;
    font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    padding-top: 8px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 4px rgba(49, 41, 41, 0.385);
}
.start{
    color: white;
    padding-left: 9px;
}
.end{
    color: white;
    padding-left: 175px;
}
